<div class='container'>
    <div class="row justify-content-between">
        <div class='logo '>
            <img src="../../assets/logo.png">
        </div>
        <div class='contacts text-right'>
            <h2>+7(911)119-34-14</h2>
            <h3>info@filigran.ru</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="mess">
            <h1>Обрезка веток,</h1>
            <h1>удаление деревьев</h1>
            <button class='btn btn-outline-warning btn-block'><h3>Позвонить арбористу</h3></button>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class='block_1  col-12 col-lg-4'>
            <div class="row ">
                <div class="col-2 align-self-center ">
                    <i class="material-icons">local_shipping</i>
                </div>
                <div class="col-10">
                    <p>Работаем в Санкт-Петербурге и ЛО</p>
                </div>
            </div>
        </div>
        <div class='block_2  col-12 col-lg-4'>
            <div class="row ">
                <div class="col-2 align-self-center ">
                    <i class="material-icons">local_atm</i>
                </div>
                <div class="col-10 ">
                    <p>Гарантия сохранности Вашего имущества</p>
                </div>
            </div>
        </div>
        <div class='block_3 col-12 col-lg-4 '>
            <div class="row">
                <div class="col-2 align-self-center ">
                    <i class="material-icons">thumb_up</i>
                </div>
                <div class="col-10">
                    <p>Работаем напрямую без посредников</p>
                </div>
            </div>
        </div>
    </div>